# Ignore all products of compilation/linking
Debug/
Release/

# Ignore temporary visual studio project files.
*.user
*.suo
*.ncb

# Ignore the submissions.
submission/
submission.zip

# Ignore products of tool use.
log.txt